# Created by .ignore support plugin (hsz.mobi)
__pycache__/
*.py[cod]
*$py.class
build/
dist/
venv/
.idea/
MANIFEST
*.mo
*.pot
.eggs
local_settings.py
manage.py
db.sqlite3
sample_rd_django/__init__.py
sample_rd_django/settings.py
sample_rd_django/urls.py
sample_rd_django/wsgi.py
